.App {
  align-items: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100%;
  background-color: rgb(66, 32, 190);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 10vw;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -2px;
  color: yellow;
}

#inputCategory {
  color: rgb(39, 20, 109);
  background-color: rgb(255, 255, 247);
  border-width: 3px;
  border-style: solid;
  border-color: yellow;
  border-radius: 13px;
  padding: 8px 13px;
  font-size: 3.2vw;
  margin-bottom: 64px;
}

#inputCategory::placeholder {
  color: rgba(131, 122, 164, 0.725);
}

#addCategory {
  padding: 8px 13px;
  margin: 10px 0px 10px 10px;
  font-size: 3.2vw;
  color: yellow;
  background-color: rgb(66, 32, 190);
  border-style: solid;
  border-color: yellow;
  border-width: 3px;
  border-radius: 13px;
}

#inputItem {
  color: rgb(39, 20, 109);
  background-color: rgb(255, 255, 247);
  border-width: 3px;
  border-style: solid;
  border-color: yellow;
  border-radius: 13px;
  padding: 8px 13px;
  font-size: 3.2vw;
  margin-bottom: 64px;
}

#inputItem::placeholder {
  color: rgba(131, 122, 164, 0.725);
}

#addItem {
  padding: 8px 13px;
  margin: 10px 0px 10px 10px;
  font-size: 3.2vw;
  text-transform: capitalize;
  color: yellow;
  background-color: rgb(66, 32, 190);
  border-style: solid;
  border-color: yellow;
  border-width: 3px;
  border-radius: 13px;
}

#addItem:hover {
  padding: 8px 13px;
  margin: 10px 0px 10px 10px;
  font-size: 3.2vw;
  text-transform: capitalize;
  color: rgb(66, 32, 190);
  border-style: solid;
  border-color: yellow;
  border-width: 3px;
  border-radius: 13px;
  background-color: yellow;
}

#showItem {
  padding: 4px 19px;
  margin: 10px 0px 10px 10px;
  font-size: 3.2vw;
  text-transform: capitalize;
  color: rgb(66, 32, 190);
  background-color: yellow;
  border-style: solid;
  border-color: yellow;
  border-width: 3px;
  border-radius: 13px;
}

#showItem:hover {
  padding: 4px 19px;
  margin: 10px 0px 10px 10px;
  font-size: 3.2vw;
  text-transform: capitalize;
  color: yellow;
  border-style: solid;
  border-color: yellow;
  border-width: 3px;
  border-radius: 13px;
  background-color: rgb(66, 32, 190);
}

.itemList {
  align-items: center;
  text-align: center;
  max-width: fit-content;
  list-style-type: none;
  text-transform: capitalize;
  color: rgb(231, 230, 245);
  font-weight: normal;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}

.item {
  margin-top: 10px;
  font-size: 3.5vw;
  text-align: left;
}

.checkbox {
  background: rgb(255, 255, 190);
  border: 2px solid #999;
  border-radius: 13px;
  float: left;
  line-height: 20px;
  height: 3.5vw;
  width: 3.5vw;
  margin-right: 10px;
  margin-top: 2px;
}

.checkbox:hover {
  background-color: rgb(66, 32, 190);
}